.header-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-link{
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: rgb(9, 126, 147);
    font-size: 37px;
    text-align: center;
}

.login-reg-div{
    display: flex;
}

.nav-links {
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: rgb(41, 79, 22);
    margin: 5px;
}

.nav-links:hover{
    color: #0589a7;
}

.user-name{
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 5px;
    margin-bottom: 10px;
}

.logout-reg-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}