.header-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #cbcbcb;
}

.header-link{
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: rgb(9, 126, 147);
    font-size: 37px;
    text-align: center;
}

.login-reg-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(159, 152, 146);
}

.nav-links {
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: black;
    margin: 5px;
}

.nav-links:hover{
    color: #0c6d83;
}

.user-name{
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 5px;
}

.logout-reg-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(159, 152, 146);
}